*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}
/* The header consisting of the top-bar, nav-bar */

/* Header */
.checkbtn{
    font-size: 30px;
    color: #DAA520;
    float: right;
    margin-right: 40px;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


.menu-bar{
    display: none;
}

.header{
    background-image: url(images/cryptocurrency.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 40s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite
}

@keyframes animate {
    0%{
        background-image: url(images/finance-g3a43f95ed_1920.jpg);
    }

    20%{
        background-image: url(images/blue-gff6516f96_1280.jpg);
    }

    40%{
        background-image: url(images/piggy-bank-g687ad57b6_1920.jpg);
    }

    60%{
        background-image: url(images/stock-ged4a6ff98_1920.jpg);
    }

    80%{
        background-image: url(images/stock-exchange-g161ddabc8_1920.jpg);
    }
    
}

/* Top-bar */

.top-bar{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    border-bottom: 1px solid white;
}

.left-top-bar{
    margin-left: 100px;

}

.bar-email{
    padding-right: 5px;
}

.bar-phone{
    padding-right: 5px;
}

.left-top-bar ul{
    display: flex;
}

.left-top-bar ul li{
    list-style-type: none;
}

.left-top-bar ul li a{
    text-decoration: none;
    color: white;
    padding-right: 20px;
    cursor: pointer;
}

.left-top-bar ul li a:hover{
    text-decoration: underline;
}

.left-top-bar ul li a:focus{
    text-decoration: underline;
}

.right-top-bar{
    margin-right: 100px;
}

.login-font{
    padding-right: 5px;
}

.register-font{
    padding-right: 5px;
}

.right-top-bar ul{
    display: flex;
}

.right-top-bar ul li{
    list-style-type: none;
}

.right-top-bar ul li a{
    text-decoration: none;
    color: white;
    padding-left: 20px;
    cursor: pointer;
}

.right-top-bar ul li a:hover{
    text-decoration: underline;
}

.right-top-bar ul li a:focus{
    text-decoration: underline;
}

/* Nav-bar */

.nav-bar ul{
    display: flex;
    float: right;
    margin-right: 100px;
}

.nav-bar ul li{
    list-style-type: none;
}

.nav-bar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 20px;
    color: white;
    font-weight: bolder;
    font-size: 13px;
    cursor: pointer;
}

.nav-bar ul li a:hover{
    color: #FFD700;
}

.nav-bar ul li a:focus{
    color: #FFD700;
}

.inner-header{
    width: 600px;
    margin-left: 100px;
    margin-top: 100px;
}

.inner-header h1{
    text-transform: uppercase;
    color: #DAA520;
    font-size: 50px;
    font-weight: bolder;
}

.inner-header p{
    color: #B8860B;
    font-weight: bolder;
    line-height: 35px;
}

.open-account{
    background-color: #DAA520;
    color: white;
    border: none;
    outline: none;
    padding: 15px 50px 15px 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.open-account:hover{
    background-color: #FFD700;
}

/* <!-- First Grid showcase --> */

.first-showcase{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

.showcase-image{
    height: 120px;
    width: 120px;
    margin-right: auto;
    margin-left: 30px;
}

.sign-up,.deposit,.invest,.withdraw{
    height: auto;
    padding: 20px;
    padding-bottom: 10px;
    margin-bottom: 100px;
}

.sign-up h2,.withdraw h2{
    padding-left: 40px;
}

.deposit h2{
    padding-left: 25px;
}

.invest h2{
    padding-left: 20px;
}

.inner-sign-up,.inner-deposit,.inner-invest,.inner-withdraw{
    width: 200px;
    text-align: center;
    font-size: 15px;
}

/* <!-- Testimionial section --> */

.trusted-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-bottom: 100px;
}

.inner-trusted-section{
    width: 700px;
    padding: 50px;
    padding-left: 50px;
    padding-top: 80px;
}

.trusted-image{
    width: 450px;
    height: 350px;
    margin-left: 150px;
}

.more-about-us{
    background-color: #4682B4;
    color: white;
    border: none;
    outline: none;
    text-transform: uppercase;
    padding: 15px 40px 15px 40px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.more-about-us:hover{
    background-color: #6495ED;
}

/* <!-- Why us section --> */

.why-us-header{
    text-align: center;
}

.why-us-header h1{
    color: #DAA520;
}

.why-us{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 80px;
    margin-left: 100px;
    padding-bottom: 80px;
    gap: 30px;
}

.why-us-write-up{
    width: 300px;
}

.why-us-write-up:hover,.why-us-write-up:focus{
    background-color: 	#DAA520;
    border-radius: 10px;
    color: whitesmoke;
    cursor: pointer;
}

.why-us-write-up h3{
    text-align: center;
}

.why-us-write-up p{
    text-align: center;
    font-size: 14px;
}

.why-us-image{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 100px;
}

/* <!-- Patnership and level section --> */
.patnership-program{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 50px;
    margin-right: 50px;
}

.patnership-program p{
    font-size: 14px;
    color: #4682B4;
}

.patnership-program b{
    font-size: 20px;
    color: #6495ED;
}

.patnership-write-up{
    padding: 20px;
}

.patnership-image{
    padding: 20px;
}

.level-write-up{
    padding: 20px;
}

/* <!-- Join Us --> */
.join-us{
    padding-top: 150px;
    background-image: url(images/stock-ged4a6ff98_1920.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    text-align: center;
}

.join-us h1{
    color: #DAA520;
}

.join-us p{
    color: #DAA520;
}

.join-us-button{
    background-color: #DAA520;
    color: white;
    border: none;
    outline: none;
    padding: 15px 50px 15px 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 50px;
}

.join-us-button:hover{
    opacity: 0.9;
}

/* <!-- Our Plans --> */

.our-plan{
    padding-top: 100px;
    padding-bottom: 100px;
}

.our-plan h1{
    color: #DAA520;
    font-size: 45px;
    text-align: center;
    padding-bottom: 50px;
}

.our-plan-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    color: #DAA520;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 50px;
}

.inner-plan h2{
    margin-bottom: 50px;
}


.inner-plan p{
    font-weight: bold;
    margin-top: 20px;
}

.plan-button{
    background-color: #B8860B;
    color: white;
    border: none;
    outline: none;
    padding: 10px 30px 10px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 20px;
}

.plan-button:hover,.plan-button:focus{
    background-color: #DAA520;
}

/*  <!-- Clients talk section --> */


.clients-talk{
    padding-bottom: 100px;
}

.clients-talk h1{
    color: #DAA520;
    font-size: 45px;
    text-align: center;
    padding-bottom: 50px;
}


.clients-talks-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    gap: 30px;
}

.inner-clients-talk{
    padding: 50px;
    background-color: whitesmoke;
    border-radius: 15px;
}

.client-profile{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: relative;
    bottom: 100px;
    box-shadow: 5px 10px 20px hsl(216, 53%, 9%)
}

.client-write-up{
    margin-top: -50px;
}

.client-name,.client-location{
    color: #DAA520;
    font-weight: bolder;
}

/* Footer */

.main-footer{
    background-color: black;
    color: #DAA520;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 350px;
    padding-top: 40px;
}

.inner-footer{
    padding: 30px;
}

.inner-footer ul{
    list-style-type: none;
}

.inner-footer ul li{
    padding-bottom: 10px;
}

.inner-footer ul li a{
    text-decoration: none;
    color: #DAA520;
}

.inner-footer ul li a:hover{
    text-decoration: underline;
}

.location-footer{
    display: flex;
}

.location{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: 15px;
}

.email{
    margin-right: 10px;
}

.phone{
    margin-right: 10px;
}

.icons-footer{
    background-color: black;
    text-align: center;
    padding-bottom: 20px;
}

.icons-footer i{
    font-size: 25px;
    padding-right: 10px;
    color: #DAA520;
    cursor: pointer;
}

.icons-footer i:hover{
    color: #B8860B;
}

.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #DAA520;
    bottom: 40px;
    left: 1200px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    color: black;
    border-radius: 5px;
}

@media screen and (max-width: 480px){

    .header{
        height: 50vh;
    }

    .checkbtn{
        display: block;
    }

    /* Top bar */
    .top-bar{
        display: none;
    }

    /* Nav-bar */
    .nav-bar ul{
        display: block;
        height: 100vh;
        margin-top: 100px;
        margin-left: 50px;
        position: relative;
        left: -100%;
        transition: all .5s;
    }

    .nav-bar ul li{
        padding-bottom: 10px;
        text-align: center;
    }

    #check:checked ~ .nav-bar ul{
        left: 0;
    }

    .inner-header{
        width: 300px;
        display: none;
    }
    
    .inner-header h1{
        text-align: center;
        font-size: 30px;
        font-weight: bolder;
        margin-left: -100px;
        
    }
    
    .inner-header p{
        display: none;
    }

    .open-account{
        padding: 10px 30px 10px 30px;
    }

    /* <!-- First Grid showcase --> */

    .first-showcase{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 70px;
        margin-right: auto;
    }

    /* <!-- Testimionial section --> */

    .trusted-section{
        grid-template-columns: 1fr;
    }

    .inner-trusted-section{
        width: 350px;
        text-align: center;
        margin-left: 30px;
    }

    .trusted-image{
        display: none;
    }

    /* <!-- Why us section --> */

    .why-us-header{
        padding: 50px;
    }

    .why-us{
        grid-template-columns: 1fr;
        margin-left: 40px;
        margin-right: auto;
    }
    /* <!-- Patnership and level section --> */
    .patnership-program{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: auto;
        padding: 20px;
    }
    /* <!-- Our Plans --> */

    .our-plan h1{
        font-size: 30px;
    }

    .our-plan-grid{
        grid-template-columns: 1fr;
    }

    .inner-plan{
        margin-bottom: 50px;
    }

    /*  <!-- Clients talk section --> */

    .clients-talk h1{
        font-size: 30px;
    }

    .clients-talks-section{
        grid-template-columns: 1fr;
    }

    .inner-clients-talk{
        margin-bottom: 50px;
    }


    /* Footer */

    .main-footer{
        grid-template-columns: 1fr;
        height: auto;
    }
}